/build/
/dist/
/.idea/
/**/.idea
/**/*.iml
/.vscode/
/**/.vscode
/nbproject/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
/src/utils/LogCompilation/target/
/.project/
/.settings/

# Downloaded binaries
/src/utils/hsdis/binutils*
/src/utils/hsdis/build/
